.banner {
  position: relative;
  width: 98vw;
  max-width: 1280px;
  margin: auto;
  overflow: hidden;
}

.banner-image {
  width: 100%;
  display: block;
  /* mask-image: linear-gradient(to bottom, black 95%,transparent); */
}

.btn-carrousel {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(255,255,255,0.5);
  border: none;
  padding: 10px;
  cursor: pointer;
  height: 64px;
}
.btn-left {
  background: linear-gradient(to right, #000, rgb(0,0,0,0.0));
  border-radius: 0px 50px 50px 0px;
}
.btn-right {
  background: linear-gradient(to left, #000, rgb(0,0,0,0.0));
  border-radius: 50px 0px 0px 50px;
}

.btn-carrousel:hover {
  transition: all 200ms ease-in;
  background-color: rgba(0, 0, 0, 0.8);
}

.btn-carrousel:first-of-type {
  left: 0px;
}

.btn-carrousel:last-of-type {
  right: 0px;
}
.indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 5px;
}

.indicator {
  width: 10px;
  height: 10px;
  background-color: rgba(22, 22, 22, 0.5);
  border-radius: 50%;
  cursor: pointer;
}

.indicator.active {
  background-color: rgb(0, 0, 0,0.8);
}
