/*================== GENERALES (MOBILE) ==================*/
.header {
  display: flex;
  flex-direction: column;
  background-color: var(--logo-background);
  color: var(--logo-color);
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; 
  box-shadow: 0 4px 6px rgba(142, 139, 107, 0.5);
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 10px;
  flex-wrap: wrap;
}

.header-middle {
  width: 100%;
  margin: 5px 10px;
}

.login-button {
  display: none;
}

.menu-button, .cart-button, .login-button {
  background: none;
  border: none;
  cursor: pointer; 
}
.menu-button{
  order:1;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  order:2;
}

.logo-img {
  width: 100px; 
  height: auto;
}

.header-icons {
  display: flex;
  width: 10%;
  justify-content: space-around;
  order:3;
}

.search-container {
  order:4;
  width: 100%;
  margin-top: 10px;
}

.form-search {
  display: flex;
  width: 100%;
  max-width: 770px;
  margin: 0 auto;
}

.search-input {
  flex: 1;
  border: 1px solid var(--primary-color);
  border-radius: 4px 0 0 4px;
  padding: 10px;
  font-size: 16px;
}

.search-button {
  background-color: var(--primary-color);
  color: var(--logo-background);
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
}

.navbar {
  display: none;
}
/*=============================================*/

/*================== TABLET ==================*/
@media (min-width: 769px) {
  .header-top {
    flex-wrap: nowrap;
  }

  .search-container {
    order: 2;
    width: auto;
    flex: 1;
    margin: 0 10px;
  }

  .header-icons {
    order: 3;
  }

  .logo {
    order: 1;
  }

  .login-button {
    display: inline-block;
  }

  .navbar {
    display: block;
    margin-top: 10px;
  }

  .navbar ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
  }

  .navbar li {
    margin: 0 10px;
  }

  .navbar a {
    text-decoration: none;
    color: var(--text-color);
    font-family: var(--font-primary);
  }
  .menu-button {
    display: none;
  }
}
/*=============================================*/


/*================== DESKTOP ==================*/
@media (min-width: 1280px) {
  .header {
    padding: 10px;
  }

  .header-top {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .search-container {
    order: 2;
    width: auto;
    flex: 1;
    margin: 0 10px;
  }

  .header-icons {
    order: 3;
  }

  .logo {
    order: 1;
  }

  .logo-img {
    width: 150px;
  }

  

  
}
