#root {
  --primary-color: #8E8B6B; /* Moss Green */
  --secondary-color: #A6AA8A; /* Sage */
  --accent-color: #ECD495; /* Peach Yellow */
  --background-color: #C19C81; /* Lion */
  --text-color: #936B47; /* Raw Umber */
  --logo-color: #000000; /* Black from logo */
  --logo-background: #f1eee8  ; /* White from logo */
}
*{
  list-style: none;
  margin: 0px;

}
li{
  list-style: none;
}