@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lovadelic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vintage+Dreams&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  box-sizing: border-box;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}


body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.1em 0.3em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

:root {
  --font-primary: 'Old Standard TT', serif;
  --font-secondary: 'Lovadelic', cursive;
  --font-accent: 'Vintage Dreams', sans-serif;

  --primary-color: #5a3d34; 
  --secondary-color: #301e1a; 
  --accent-color: #a26d54; 
  --background-color: #C19C81; 
  --text-color: #714925; 
  --logo-color: #000; 
  --logo-background: #f1eee8; 
}

body {
  font-family: var(--font-primary);
}

h1, h2, h3 {
  font-family: var(--font-secondary);
}

button, a {
  font-family: var(--font-accent);
}

button{
  background: linear-gradient(to bottom, var(--primary-color), var(--secondary-color));
  color: var(--logo-background);
}